.vscode
.github
out/
src/
tsconfig.json
webpack.config.js
.gitex.json
.gitignore
.prettierignore
CHANGELOG.latest.md

# Not packable dependencies by webpack
node_modules/*
!node_modules/conventional-changelog-preset-loader/
!node_modules/conventional-changelog-preset-loader/*
!node_modules/conventional-changelog-preset-loader/**/*
!node_modules/handlebars/
!node_modules/handlebars/*
!node_modules/handlebars/**/*
!node_modules/conventional-changelog-angular/
!node_modules/conventional-changelog-angular/*
!node_modules/conventional-changelog-angular/**/*
!node_modules/q/
!node_modules/q/*
!node_modules/q/**/*
!node_modules/compare-func/
!node_modules/compare-func/*
!node_modules/compare-func/**/*
!node_modules/array-ify/
!node_modules/array-ify/*
!node_modules/array-ify/**/*
!node_modules/dot-prop/
!node_modules/dot-prop/*
!node_modules/dot-prop/**/*
!node_modules/is-obj/
!node_modules/is-obj/*
!node_modules/is-obj/**/*

# log4js modules
!node_modules/log4js/
!node_modules/log4js/*
!node_modules/log4js/**/*
!node_modules/debug/
!node_modules/debug/*
!node_modules/debug/**/*
!node_modules/ms/
!node_modules/ms/*
!node_modules/ms/**/*
!node_modules/rfdc/
!node_modules/rfdc/*
!node_modules/rfdc/**/*
!node_modules/date-format/
!node_modules/date-format/*
!node_modules/date-format/**/*
!node_modules/streamroller/
!node_modules/streamroller/*
!node_modules/streamroller/**/*
!node_modules/graceful-fs/
!node_modules/graceful-fs/**
!node_modules/graceful-fs/**/*